.DS_Store
.idea
skills-app
_site
.sass-cache
.jekyll-metadata


_includes/disqus_comments.html
_includes/google-analytics.html
_includes/icon-github.html
_includes/icon-github.svg
_includes/icon-l.svg
_includes/icon-twitter.html
_includes/icon-twitter.svg
_includes/social.html
_includes/head_old.html

_index_post.html

_layouts/redirect.html

_notes/2018-01-01-welcome-to-jekyll.md
_notes/2018-02-07-swift-tip.md
_notes/custom-arduino-tmc2130-shield/m01.mov
_notes/custom-arduino-tmc2130-shield/m02.mov


about/01.png
about/03.png

assets/fonts/SourceSansPro-Bold.ttf
assets/fonts/SourceSansPro-Regular.ttf
assets/main.css
assets/minima-social-icons.svg
assets/theme/basics-white-muted.svg
assets/theme/latest-white.svg
assets/theme/podcast-lightgray.svg
assets/theme/podcast-white.svg
assets/theme/styles_orig.css
assets/theme/tips-white.svg

code_example.html
favicon_32x32.ico
favicon_48x48.ico
favicon_old.ico
