    <footer>
        <p>{{ site.copyright }}</p>
        <p>
        {%- if site.github_username %}
            {% include icon-github.html username=site.github_username %}
        {%- endif %}

        {%- if site.twitter_username %}
        |{% include icon-twitter.html username=site.twitter_username %}
        {%- endif %}

        {%- if site.linkedin_username %}
        |{% include icon-linkedin.html username=site.linkedin_username username_id=site.linkedin_username_id %}
        {%- endif %}

        |<a href="{{ "/feed.xml" | relative_url }}">RSS</a>

        {%- if site.email %}
        |<a href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif %}
        </p>
    </footer>
